.navBar
    .textLogo() PA
    div(id="contentNavbar")
        a(id="mainPage" href="/") Главная
        a(id="paintingPage" href="/pictures") Картины
        a(id="settingsPage" href="/settings") Настройка
        a(id="participantsPage" href="/participants") Участники