doctype html
head
    meta(charset='UTF-8')
    title Title
    link(rel='stylesheet' href='css/login.css')
    script(type='module' src='src/pagesJS/login.js')
.content
    .userNameInputstyle
        input#userNameInput(type='text' required='')
        span.bar
        label Name
    p
        button#submitButton(type='submit') Subbmit
